dataDir=/var/lib/zookeeper
initLimit=10
tickTime=3000
syncLimit=5
clientPort=2181
{% for host in groups['masters'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_enp0s8']['ipv4']['address'] }}:2888:3888
{% endfor %}
